
@font-face {
    font-family: 'Olivier';
    src: url(./eval1.otf);
}
*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
    color: #ffda6a;
    font-family: 'Olivier';
}
body{
    display: flex;
}
img{
    display: block;
    max-width: 100%;
}

aside{
    width: 20%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 3vw;
    position: fixed;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;

}

a{  
    width: 100%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
}
a:nth-child(3){
    background-color: rgb(37, 37, 37);
    box-shadow: 1px 1px 1px #ffda6a;
}

main{
    width: 80%;
    margin-left: 20%;
    padding: 2vw 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
}
h1{
    margin-bottom: 4vh;
}
h1,h2{
    text-shadow: #ffda6a 2px 2px 0px;
    text-align: center;
}

article:nth-child(even){
    display: flex;
    flex-direction: row;
}

article:nth-child(odd){
    display: flex;
    flex-direction: row-reverse;
}
article{
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
article img{
    height: 40vh;
}
p{
    color: black;
    box-shadow: 5px  5px 10px ;
    white-space: pre-line;
    letter-spacing: 1.3px;
    padding: 0 10px;
}